<app-header></app-header>

<ion-content class="ion-padding">

  <h3>Mis adjuntos</h3>

  <ion-item-sliding *ngFor="let file of files">

    <ion-item-options side="start">
      <ion-item-option color="danger" (click)="deleteFile(file)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-item-option>
    </ion-item-options>

    <ion-item>

      <ion-label>
        <h3>{{ file.name }}</h3>
        <p class="ion-item-medicines-p">
          Tipo: {{ file.file_type }}
        </p>
        <p class="ion-item-medicines-p">
          Fecha: {{ file.created_at }}
        </p>
      </ion-label>

      <ion-label slot="end" (click)="showFile(file)">
        <ion-icon class="item-option-file" slot="start" name="image-outline"></ion-icon>
      </ion-label>

    </ion-item>

  </ion-item-sliding>

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>

      <ion-header>
        <ion-toolbar>
          <ion-title>Detalles de archivo</ion-title>
          <ion-buttons slot="start">
            <ion-button (click)="closeModal()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        
        <ion-card>

          <img src="{{ file.url }}" alt="Blood">

          <ion-card-header>
            <p>Nombre del archivo: {{ file.name }} </p>
            <p>Tipo de archivo: {{ file.file_type }} </p>
            <p>Fecha de creacion: {{ file.created_at }} </p>
          </ion-card-header>
      
        </ion-card>

      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isAddModalOpen">
    <ng-template>

      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="closeModal()">Close</ion-button>
          </ion-buttons>
          <ion-title>Agregar archivos</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">
              Guardar
              &nbsp;
              <ion-icon color="success" name="save-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">

        <!-- Form section -->
        <div>
          <ion-item>
            <ion-label>Nombre archivo</ion-label>
            <ion-input [(ngModel)]="name" type="text"></ion-input>
          </ion-item>
        </div>

         <!-- Form section -->
         <div>
          <ion-item>
            <ion-label>Nivel</ion-label>
            <ion-select [(ngModel)]="file_type" class="custom-options">
              <ion-select-option value="Other">Other</ion-select-option>
              <ion-select-option value="Suggar">Suggar</ion-select-option>
              <ion-select-option value="Pressure">Pressure</ion-select-option>
            </ion-select>
          </ion-item>
        </div>

        <br>
        <ion-button (click)="camara()">
          <ion-icon name="cloud-upload-outline"></ion-icon>
          &nbsp; Tomar foto
        </ion-button>

        <ng-container *ngIf="tempImage">
          <ion-row>
            <ion-col size="6">
              <ion-card>
                <img src="{{ tempImage }}">
              </ion-card>
            </ion-col>
          </ion-row>
        </ng-container>
        
      </ion-content>

    </ng-template>
  </ion-modal>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addFile()">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
